*{
    margin: 0;
    padding: 0;
}


.timer {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
    vertical-align: middle;
    font-size: 10px;
}


.timer a {
    margin-top: 0px;
    text-decoration: none;
    color: rgb(209, 20, 246);
    font-size: 20px;
}

main {
    margin: 70px 250px 0px 250px;
    text-align: center;
}

main h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

main p {
    font-size: 20px;
    margin-bottom: 15px;
}

.new-question {
    text-align: left;
}

.answers {
    display: flex;
    justify-content: left;
    width: 50%;
    flex-wrap: wrap;
}
.answers button{
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #351c75;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    align-items: left;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}

.answers button:hover{
    background-color: #c20ba3;
}

 .btn {
    background-color: #351c75;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: #c20ba3;
}

.all-done {
    text-align: left;
}

.your-score {
    text-align: left;
}

.score-line {
    display: flex;
    justify-content: left;
    align-content: center;
   
    
}

.score-line p {
    margin-bottom: 0px;
    
}

.score-line .btn {
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    
}

.enter-score {
    padding-right: 20px;
    margin-left: 10px;
}

.text-input {
    width: 200px;
    padding: 5px 10px;
}
.initials {
    display: flex;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 5px;
}