*{
    margin: 0;
    padding: 0;
}


.timer {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
    vertical-align: middle;
    font-size: 10px;
}


.timer a {
    margin-top: 0px;
    text-decoration: none;
    color: rgb(209, 20, 246);
    font-size: 20px;
}

main {
    margin: 70px 250px 0px 250px;
    text-align: center;
    
}

main h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

main p {
    font-size: 25px;
    margin-bottom: 15px;
}

.new-question {
    text-align: left;
}

.NewQ {
    margin-right: 200px;
    padding-left: 650px;
    font-size: 30px;
}

.answers {
    display: flex;
    justify-content: left;
    width: 50%;
    flex-wrap: wrap;
    
}
.answers button{
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #351c75;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    justify-content: left;
    flex-wrap: nowrap;
    width: 70%;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}


.answers button:hover{
    background-color: #c20ba3;
}

 .btn {
    background-color: #351c75;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: #c20ba3;
}

.all-done {
    display: inline-flex;
    align-content: center;
    text-align: left;
    padding-right: 280px;
}

.your-score {
    display: inline-flex;
    align-content: center;
    text-align: left;
    padding-right: 260px;
    font-size: 20px;
}

.score-line {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
}

.score-line p {
    margin-bottom: 0px;
    
}

.score-line .btn {
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    
}

.enter-score {
    padding-top: 3px;
    padding-right: 20px;
    margin-left: 10px;
}

.text-input {
    width: 200px;
    padding: 5px 10px;
}
.initials {
    display: flex;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 15px;
}

.submit-button {
    padding-top: 1px;
}



.NewQTitle {
    padding-right: 250px;
}

.RightorWrong {
 display: inline-flex;
 justify-content: center;
 padding-top: 20px;
 margin-left: 650px;
}

.right h2{
    padding-right: 350px;
    color: green;
    border-top: green solid 2px;
    text-align: left;
    font-size: 30px;
    
}

.wrong h2{
    padding-right: 350px;
    color: rgb(240, 0, 0);
    border-top: rgb(231, 8, 0) solid 2px;
    text-align: left;
    font-size: 30px;
}


/* Styling for Index Ends Here */


/* Styling for High Score Page Begins Here */

.high-scores {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.high-score-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.high-score-section {
    font-size: 30px;
    margin: 100px 250px 0px 250px;
    text-align: center;
    
}

.go-back, .clear-high-scores {
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #351c75;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    color: white;
    border-radius: 10px;

}

.btn-form {
    padding-right: 10px;
}

.go-back:hover, .clear-high-scores:hover {
    background-color: #c20ba3;
}

.stored-high-scores {
   text-align: left; 
   padding-left: 320px;
   padding-right: 330px;
}

.stored-high-scores ul:nth-child( odd ) {
    
    background-color: rgba(121, 0, 208, 0.625);

}
.stored-high-scores li{
    list-style:none;
}